
.Imge {
    object-fit: contain;
    width: 100%; 
    height: auto; 
}


.product-carde {
    height: 375px;
    transition: transform 0.5s ease;
    position: relative;
}


.product-carde:hover {
    transform: scale(1.05);
}


.hover-detailse {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(100px);
    display: none;
    width: 100%;
    height: 100%;
}

.product-carde:hover .hover-detailse {
    display: block;
}


@media (max-width: 1024px) {
    .hover-detailse {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    .Imge {
        height: 150px;
    }

    .product-carde {
        height: 250px;
    }

    .bpe {
        height: 200px;
    }
}


@media (max-width: 756px) {
    .hover-detailse {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    .Imge {
        height: 200px;
    }

    .product-carde {
        height: 300px;
    }

    .bpe {
        height: 300px;
    }
}


@media (max-width: 240px) {
    .hover-detailse {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    .Imge {
        height: 250px; 
    }

    .product-carde {
        height: 250px; 
    }

    .bpe {
        height: 250px; 
    }
}


.product-name {
    font-size: 1.2rem;
}

@media (max-width: 1200px) {
    .product-name {
        font-size: 1.1rem;
    }
}

@media (max-width: 992px) {
    .product-name {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .product-name {
        font-size: 0.97rem;
    }
}

@media (max-width: 480px) {
    .product-name {
        font-size: 0.8rem; 
    }
}



