.ImageProd {
    object-fit:contain;
    background-color: white;
    height: 400px;
    position: relative;

}

.Imageside {
    object-fit: contain;
    background-color: white;
    height: 152px;
}

.color-option {
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100%;
    transition: transform 3s ease;
}

.redFont {
    text-decoration: line-through;
    color: red;
}

.magnify-container {
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

.magnify-image {
    transition: transform 0.1s ease;
    width: 100%;
    transform-origin: center center;
}

.magnify-container:hover .magnify-image {
    transform: scale(1.5);
}

@media (max-width: 1024px) {
    .ImageProd {
        object-fit: cover;
        background-color: white;
        width: 100%;
        height: 300px;
    }

    .magnify-container {
        position: static;
        overflow: visible;
        cursor: auto;
    }

    .magnify-image {
        transition: none;
        transform: none;
    }

    .magnify-container:hover .magnify-image {
        transform: none;
    }


}