.Img {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-height: 300px;
}

.bp {

    padding-top: 40%;
}

.productt-card {
    height: auto;
    transition: transform .5s;
}

.productt-card:hover {
    transform: scale(1.05);
}

.remove {
    display: block;
}

.add {
    display: none;
}

.hoverr-details {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(100px);
    display: none;
    width: 100%;
    height: 100%;
}


.productt-card:hover .hoverr-details {
    display: block;
}

/* Responsive Design */
@media (max-width: 1400px) and (min-width: 1200px) {
    .Img {
        max-height: 280px;
        /* Adjust max height */
    }

    .hoverr-details {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .Img {
        max-height: 260px;
        /* Adjust max height */
    }

    .productt-card {
        font-size: 0.9rem;
    }

    .hoverr-details {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 992px) and (min-width: 800px) {
    .Img {
        max-height: 240px;
        /* Adjust max height */
    }

    .productt-card {
        font-size: 0.8rem;
    }

    .hoverr-details {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 800px) and (min-width: 576px) {
    .Img {
        max-height: 320px;
        /* Increase max height for mid-sized screens */
    }

    .productt-card {
        font-size: 0.7rem;
    }

    .remove {
        display: none;
    }

    .add {
        display: block;
    }

    .hoverr-details {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .Img {
        max-height: 400px;
        /* Increase max height for mobile view */
    }

    .productt-card {
        font-size: 0.6rem;
    }

    .remove {
        display: none;
    }

    .add {
        display: block;
    }

    .hoverr-details {
        width: 100%;
        height: 100%;
    }
}

.Anim {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.out-of-stock {
    text-decoration: line-through;
    pointer-events: none;
    filter: opacity(50%);
    color: red;
    font-style: italic;
}

.discountDisplay {
    z-index: 1;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: red;
}