.recent-orders {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.order-list, .order-details {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.order-summary {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    background-color: #ffffff;
}

.order-summary:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.order-details h2 {
    margin-bottom: 20px;
    color: #1f2937;
}

.order-summary p, .order-details p {
    margin: 0;
    color: #4b5563;
    padding: 5px 0;
}

.order-summary .order-id, .order-summary .order-amount, .order-summary .order-date {
    font-weight: bold;
    color: #111827;
}

.order-details button, .order-summary button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.order-details button:hover, .order-summary button:hover {
    background-color: #4338ca;
    transform: translateY(-3px);
}

.product-list {
    margin-top: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #f9fafb;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #1f2937;
}

@media (max-width: 768px) {
    .order-summary, .product-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-image {
        width: 80px;
        height: 80px;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
