.carousel-container {
  position: relative;
  margin: 20px auto;
  max-width: 90%;
}

.product-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  min-width: 180px; 
  margin: 0 15px; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-card img {
  width: 70%; 
  margin-bottom: 15px; 
}



.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-color: #000000 !important;
  padding: 12px;
  cursor: pointer;
  border-radius: 5%; 
  transition: background-color 0.3s ease;
  background-color: #ddd !important;
  
}

.carousel-button.left {
  left: -20px; 
}

.carousel-button.left:hover {
  background-color: rgb(47, 47, 47) !important; 
}
.carousel-button.right {
  right: -20px; 
}

.carousel-button.right:hover {
  background-color: rgb(47, 47, 47) !important; 
}

.twelve h1 {
  font-size:26px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
}
.twelve h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.twelve h1:after {
    background-color: #c50000;
    content: '';
    display: block;
  position:sticky; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
    margin-top: 0.7em;
    margin-left: 5pc
}

.gradient-box {
  height: 300px; 
  width: 300px; 
  /* background: linear-gradient(to left, rgb(12, 10, 10), white);  */
  background-color: #e8e6e6;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 2%;
}

.vertical-text {
  text-transform:uppercase;
  text-align: center; /* تراز کردن متن */
  color: rgb(0, 0, 0); /* رنگ متن */
  font-size: 24px; /* سایز متن */
}
