.carousel-container {
  position: relative;
  margin: 20px auto;
  max-width: 90%;
}

.product-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  min-width: 180px; 
  margin: 0 15px; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-card img {
  width: 70%; 
  margin-bottom: 15px; 
}



.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent !important;
  color: black;
  
}

.carousel-button.left {
  left: -20px; 
}

.carousel-button.left:hover {
  background-color: rgb(47, 47, 47) !important; 
}
.carousel-button.right {
  right: -20px; 
}

.carousel-button.right:hover {
  background-color: rgb(47, 47, 47) !important; 
}

.gradient-box {
  height: 300px;
  width: 300px;
  background-color: #e8e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
}

.inner-border {
  width: 80%; /* تنظیم سایز کادر زرشکی */
  height: 80%;
  border: 4px solid #800000; /* رنگ و ضخامت کادر زرشکی */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.view-more-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #800000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  display: inline-block;
  width: 150px; /* عرض دکمه */
  height: 150px; /* ارتفاع دکمه */
  background-color: #333; /* رنگ پس‌زمینه (مشکی) */
  color: white; /* رنگ متن */
  text-align: center;
  line-height: 150px; /* متن را وسط‌چین می‌کند */
  font-size: 18px; /* اندازه متن */
  font-weight: bold; /* متن پررنگ */
  border-radius: 10px; /* گوشه‌های دکمه */
  border: none; /* بدون حاشیه */
  transition: all 0.3s ease-in-out; /* انیمیشن نرم */
  cursor: pointer; /* تغییر شکل نشانگر */
}

.button:hover {
  background-color: #6200ea; /* تغییر رنگ پس‌زمینه هنگام Hover */
  transform: scale(1.1); /* بزرگ شدن دکمه */
  color: #fff; /* رنگ متن */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* سایه زیبا */
}

