.Img {
    object-fit: cover;
    height: 300px;
}

.bp {
    height: 300px;
}

.productt-card {
    height: 375px;
    transition: transform .5s;
}

.productt-card:hover {
    transform: scale(1.05);
}

.remove {
    display: block;

}

.add {
    display: none;
}


.hoverr-details {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    height: 395px;
    display: none;
    /* Initially hidden */
}

.productt-card:hover .hoverr-details {
    display: block;
    /* Show on hover */
}

@media (max-width: 1024px) {
    .hoverr-details {
        top: 0;
        left: 0;
        right: 0;
        height: 250px;

    }

    .Img {
        height: 150px;
    }

    .productt-card {
        height: 250px;
        text-align: center;
    }

    .bp {
        height: 250px;
    }

    .remove {
        display: none;
    }

    .add {
        display: block;
    }


}

@media (max-width: 756px) {
    .hoverr-details {
        top: 0;
        left: 0;
        right: 0;
        height: 300px;

    }

    .Img {
        height: 200px;
    }

    .productt-card {
        height: 300px;
    }

    .bp {
        height: 300px;
    }


}

.Anim {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.out-of-stock {
    text-decoration: line-through;
    pointer-events: none;
    filter: opacity(50%);
    color: red;
    font-style: italic;
}

.discountDisplay {
    z-index: 1;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: red;
}