.Img {
    object-fit: cover;
    height: 300px;
}

.bp {
    height: 300px;
}

.product-card {
    height: 375px;
    transition: transform .5s;
}

.product-card:hover {
    transform: scale(1.05);
}

.hover-details {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    height: 395px;
    display: none;
    /* Initially hidden */
}

.product-card:hover .hover-details {
    display: block;
    /* Show on hover */
}

@media (max-width: 1024px) {
    .hover-details {
        top: 0;
        left: 0;
        right: 0;
        height: 300px;

    }

    .Img {
        height: 200px;
    }

    .product-card {
        height: 300px;
    }

    .bp {
        height: 300px;
    }


}

@media (max-width: 756px) {
    .hover-details {
        top: 0;
        left: 0;
        right: 0;
        height: 300px;

    }

    .Img {
        height: 200px;
    }

    .product-card {
        height: 300px;
    }

    .bp {
        height: 300px;
    }


}