/* Base Styles */
.Img {
    object-fit: cover;
    height: 250px;
}

.bp {
    height: 250px;
}

.productt-card {
    height: 420px; /* Increased height */
    transition: transform .5s;
}

.productt-card:hover {
    transform: scale(1.05);
}

.remove {
    display: block;
}

.add {
    display: none;
}

.hoverr-details {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    height: 420px; /* Increased height */
    display: none;
    /* Initially hidden */
}

.productt-card:hover .hoverr-details {
    display: block;
    /* Show on hover */
}

/* Responsive Styles */
@media (max-width: 1400px) and (min-width: 1200px) {
    .Img,
    .bp,
    .productt-card,
    .hoverr-details {
        height: 380px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .Img,
    .bp,
    .productt-card,
    .hoverr-details {
        height: 350px;
    }
    .productt-card {
        font-size: 0.9rem; /* Smaller text size */
    }
}

@media (max-width: 992px) and (min-width: 800px) {
    .Img,
    .bp,
    .productt-card,
    .hoverr-details {
        height: 300px;
    }
    .productt-card {
        font-size: 0.8rem; /* Smaller text size */
    }
}

@media (max-width: 800px) and (min-width: 576px) {
    .Img,
    .bp,
    .productt-card,
    .hoverr-details {
        height: 250px;
    }
    .productt-card {
        font-size: 0.7rem; /* Smaller text size */
    }
}

@media (max-width: 576px) {
    .Img,
    .bp,
    .productt-card,
    .hoverr-details {
        height: 200px;
    }

    .productt-card {
        font-size: 0.6rem; /* Smaller text size */
    }

    .remove {
        display: none;
    }

    .add {
        display: block;
    }
}


.Anim {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.out-of-stock {
    text-decoration: line-through;
    pointer-events: none;
    filter: opacity(50%);
    color: red;
    font-style: italic;
}

.discountDisplay {
    z-index: 1;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: red;
}