
.order-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  x
  .product-item:hover {
    transform: scale(1.02);
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  .product-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
  }
  
  .product-details p {
    margin: 0;
    color: #555;
  }
  