.Img {
    display: block;

}

@media (max-width: 1000px) {
    .Img {
        max-height: 250px;
    }

}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}
