.Img {
    object-fit: cover;
    height: 350px;
}

.product-card {
    height: 450px;
    border-radius: 20px;
    transition: transform .5s;
}

.product-card:hover {
    transform: scale(1.05);
}

.hover-details {
    position: absolute;
    top: 0;
    right: 0;

    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    
    height: 450px;
    border-radius: 20px;
    display: none;
    /* Initially hidden */
}

.product-card:hover .hover-details {
    display: block;
    /* Show on hover */
}