.Imge {
    object-fit: cover;
    height: 400px;
}

.bpe {
    height: 450px;
}

.product-carde {
    height: 500px;
    transition: transform .5s;
}

.product-carde:hover {
    transform: scale(1.05);
}

.hover-detailse {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    height: 500px;
    display: none;
    /* Initially hidden */
}

.product-carde:hover .hover-detailse {
    display: block;
    /* Show on hover */
}

@media (max-width: 1024px) {
    .hover-detailse {
        top: 0;
        left: 0;
        right: 0;
        height: 350px;

    }

    .Imge {
        height: 250px;
    }

    .product-carde {
        height: 350px;
    }

    .bpe {
        height: 350px;
    }


}

@media (max-width: 756px) {
    .hover-detailse {
        top: 0;
        left: 0;
        right: 0;
        height: 300px;

    }

    .Imge {
        height: 200px;
    }

    .product-carde {
        height: 300px;
    }

    .bpe {
        height: 300px;
    }


}