.Image {
    object-fit: cover;
    background-color: white;
    height: 700px;
}

.Imageside {
    object-fit: contain;
    background-color: white;
    height: 222px;
}

.color-option {
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100%;
    transition: transform 3s ease;
}
.redFont{
    text-decoration: line-through; 
    color: red;
}